@import 'https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Oswald|Slabo+27px';
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffecce;
    display: flex;
    transition: all 0.5s ease;
}

.parish-map {
    height: 100%;
    display: block;
    margin: auto;
}

.parish-path {
    cursor: pointer;
    fill: transparent;
    stroke: red;
    stroke-width: 7px;
    fill-rule: evenodd;
}

#sidepanel {
    float: left;
    top: 0;
    left: 0;
    padding: 30px;
    background-color: #1C1D21;
    height: calc(100vh - 60px);
    width: calc(20vw - 60px);
    min-height: 830px;
    vertical-align: middle;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    color: #eeeff7;
}

#description {
    text-align: center;
    font-style: italic;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
}

#panel {
    text-align: center;
    font-style: italic;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
}

.expandable_list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-color: white;
}

.expandable_list::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}

.expandable_list::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #D62929;
}

.expandable_list {
    height: 0vh;
    text-align: center;
    font-style: italic;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    overflow-y: auto;
    transition: all 0.5s ease-out 0.15s;
}

.expandable_list:hover {
    height: 30vh;
    transition: all 0.5s ease-out 0.15s;
}

.menu_title:hover~.expandable_list {
    height: 30vh;
    transition: all 0.5s ease-out 0.15s;
}

#big_map {
    height: 100vh;
    width: 80vw;
    overflow: hidden;
}

#map {
    overflow: hidden;
}


/*
 * InfoWindow styling
 */

#search {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.material-icons {
    vertical-align: middle;
}


/* Search 3 - zoom in looking glass */

#search {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
}

#aSearch {
    padding-bottom: 10px;
    color: #eeeff7;
    width: calc(100% - 30px);
    border: 0;
    border-bottom: 2px solid white;
    background-color: transparent;
    outline: 0;
    transition: all 0.3s;
    font-family: "Open Sans", sans-serif;
}

#aSearch:focus,
#aSearch:hover {
    border-bottom: 2px solid #FF5E17;
}

#aSearch::-webkit-input-placeholder {
    color: #65737e;
}

#aSearch:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}

#aSearch::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}

#aSearch:-ms-input-placeholder {
    color: #65737e;
}

#searchIcon {
    text-decoration: none;
    color: #eeeff7;
    float: right;
    cursor: pointer;
}

#searchIcon:hover {
    color: #FF5E17;
    transition: all 0.3s;
}

.material-icons.iw {
    padding: 3px;
    border-radius: 1000px;
    border: solid 1px #1C1D21;
}

.material-icons.iw:hover {
    padding: 3px;
    background-color: #FF5E17;
    border-color: #FF5E17;
    color: white;
    transition: all 0.3s;
}

footer {
    position: fixed;
    bottom: 0;
    left: 30px;
    width: 100%;
    height: 60px;
    font-family: "Open Sans", sans-serif;
}

#feedback {
    font-size: 13px;
    color: #eeeff7;
    text-decoration: none;
}

#feedback:hover {
    color: #FF5E17;
    transition: all 0.3s;
}

/*experimental part*/

.marker {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    font-size: 0;
    cursor: pointer;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    opacity: 1;
    -webkit-transition: all .5s ease .4s;
    transition: all .5s ease .4s;
}
.marker.inactive {
    -webkit-transform: perspective(600px) rotateY(-90deg);
    transform: perspective(600px) rotateY(-90deg);
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.marker svg {
    fill: red;
    -webkit-animation: hovering 1s ease-in-out infinite alternate;
    animation: hovering 1s ease-in-out infinite alternate;
}
.marker .shadow {
    width: 18px;
    height: 4px;
    background: gray;
    border-radius: 50%;
    margin: 5px auto 0 auto;
    -webkit-animation: shadow 1s ease-in-out infinite alternate;
    animation: shadow 1s ease-in-out infinite alternate;
}

.card {
    position: absolute;
    z-index: 10;
    width: 320px;
    top: calc(50% - 120px);
    left: calc(50% - 160px);
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
    box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: perspective(600px) rotateY(90deg);
    transform: perspective(600px) rotateY(90deg);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-family: "Open Sans", sans-serif;
    color: #1C1D21;
    word-wrap: break-word;
}
.card.active {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    opacity: 1;
    pointer-events: all;
    -webkit-transition: all .5s ease .4s;
    transition: all .5s ease .4s;
}

.card .content {
    padding: 10px;
}


.card .image {
    width: 100%;
}

.card .title {
    font-weight: bold;
    color: #FF5E17;
    text-transform: uppercase;
    font-size: 18px;
}

.card .subtitle {
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}

.card .content-text {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.card .button{
    text-align: center;
    background-color: transparent;
    padding-top: 2px;
    padding-left: 4px;
    padding-bottom: 2px;
    padding-right: 4px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    border-color: #eeeff7;
    border: solid 1px;
    cursor: pointer;
    color: #1C1D21;
    border-color: #1C1D21;
}


.card .button:hover{
    background-color: #FF5E17;
    transition: all 0.3s;
    border-color: #FF5E17;
    color: #eeeff7;
}

@-webkit-keyframes hovering {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
}

@keyframes hovering {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
}
@-webkit-keyframes shadow {
    from {
        -webkit-transform: scale(1) translate3d(0, 0, 0);
        transform: scale(1) translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: scale(1.25) translate3d(0, 0, 0);
        transform: scale(1.25) translate3d(0, 0, 0);
    }
}
@keyframes shadow {
    from {
        -webkit-transform: scale(1) translate3d(0, 0, 0);
        transform: scale(1) translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: scale(1.25) translate3d(0, 0, 0);
        transform: scale(1.25) translate3d(0, 0, 0);
    }
}


/*
Modal testing
 */

/* The Modal (background) */
.modal {
    font-family: "Open Sans", sans-serif;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
    position: fixed;
    background-color: #fefefe;
    width: 100%;
    height: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 50px;
}

.close:hover,
.close:focus {
    color: #FF5E17;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: #FF5E17;
    text-transform: uppercase;

}

.modal-body {padding: 2px 16px; width: 50%; float: left}

.modal-image {padding: 24px 16px; width: calc(50% - 64px); float: right; height: 100%}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/*Tab nav*/

/* Style the tab */
div.tab {
    overflow: hidden;
    width: 100%;

}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    font-weight: bold;
    color: #FF5E17;
}

/* Create an active/current tablink class */
div.tab button.active {
    font-weight: bold;
    color: #FF5E17;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;

}


.timeline {
    overflow-y: auto;
    list-style: none;
    max-height: 80vh;
}
.timeline > li {
    margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
    .timeline > li {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
    .timeline-date {
        width: 110px;
        float: left;
        margin-top: 20px;
    }
    .timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #e5e5d1 solid;
        padding-left: 30px;
    }
    .timeline-content:before {
        content: '';
        width: 12px;
        height: 12px;
        background: #6fc173;
        position: absolute;
        left: 106px;
        top: 24px;
        border-radius: 100%;
    }
}